/MCP/MinecraftForge-Changelog.txt
/MCP/MinecraftForge-Credits.txt
/MCP/MinecraftForge-License.txt
/MCP/Paulscode IBXM Library License.txt
/MCP/Paulscode SoundSystem CodecIBXM License.txt
/MCP/README-MinecraftForge.txt
/MCP/forge.py
/MCP/forge.pyc
/MCP/forgeversion.properties
/MCP/install.cmd
/MCP/install.py
/MCP/install.sh
/MCP/mcp/CHANGELOG
/MCP/mcp/LICENSE.txt
/MCP/mcp/cleanup.bat
/MCP/mcp/cleanup.sh
/MCP/mcp/decompile.bat
/MCP/mcp/decompile.sh
/MCP/mcp/getchangedsrc.bat
/MCP/mcp/getchangedsrc.sh
/MCP/mcp/recompile.bat
/MCP/mcp/recompile.sh
/MCP/mcp/reformat.bat
/MCP/mcp/reformat.sh
/MCP/mcp/reobfuscate.bat
/MCP/mcp/reobfuscate.sh
/MCP/mcp/reobfuscate_srg.bat
/MCP/mcp/reobfuscate_srg.sh
/MCP/mcp/src/.classpath
/MCP/mcp/src/.project
/MCP/mcp/startclient.bat
/MCP/mcp/startclient.sh
/MCP/mcp/startserver.bat
/MCP/mcp/startserver.sh
/MCP/mcp/updateids.bat
/MCP/mcp/updateids.sh
/MCP/mcp/updatemcp.bat
/MCP/mcp/updatemcp.sh
/MCP/mcp/updatemd5.bat
/MCP/mcp/updatemd5.sh
/MCP/mcp/updatenames.bat
/MCP/mcp/updatenames.sh
/MCP/mcp/src/minecraft/deobfuscation_data-1.6.2.lzma
/MCP/mcp/src/minecraft/fml_at.cfg
/MCP/mcp/src/minecraft/fml_marker.cfg
/MCP/mcp/src/minecraft/fmlversion.properties
/MCP/mcp/src/minecraft/forge_at.cfg
/MCP/mcp/src/minecraft/forge_logo.png
/MCP/mcp/src/minecraft/mcpmod.info
/MCP/mcp/src/minecraft/Start.java
/MCP/mcp/src/minecraft/ibxm/*
/MCP/mcp/src/minecraft/paulscode/*
/MCP/mcp/src/minecraft/net/*
/MCP/mcp/src/minecraft/cpw/*
/MCP/mcp/src/minecraft/assets/forge/*
/MCP/mcp/src/bin/*
/MCP/mcp/src/minecraft_server/*
/MCP/mcp/jars/*
/MCP/mcp/temp/*
/MCP/mcp/runtime/*
/MCP/mcp/logs/*
/MCP/mcp/bin/*
/MCP/mcp/reobf/*
/MCP/mcp/lib/*
/MCP/mcp/conf/*
/MCP/mcp/docs/*
/MCP/mcp/eclipse/*
/MCP/fml/*
/MCP/patches/*
/MCP/common/*
/MCP/client/*
